<div class="sidenav">
    <img style="padding-left: 20px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJkhKeVuAPCGLHJQPNgqaX1-P_EBFYUouUPA&s" >
    <a class="navbar-brand" href="{% url 'plagiarism-check-mainpage' %}">Plagiarism Checker</a>

    <a href="#home">Home</a>
    <a href="/textUpload">Text Plagiarism</a>
    <a href="/documentUpload">Document Plagiarism</a>
    <!-- <a href="/imageUpload">Upload Image</a> -->
    <a href="/comparetextCheck">Compare Text</a>
    <a href="/comparefilecheck">Compare Files</a>
    <a href="#contact">Contact</a>
</div>